body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f1f8f4; /* light green background */
}

header {
    background-color: #29672c; /* dark green */
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #388e3c; /* green */
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-left: 5px solid #4caf50; /* green accent */
}

.contact {
    background-color: #e8f5e9; /* very light green */
    padding: 20px;
    margin: 20px;
    border-left: 5px solid #4caf50;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    padding: 10px 18px;
    background-color: #2e7d32;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #1b5e20;
}

footer {
    background-color: #2e7d32;
    color: white;
    text-align: center;
    padding: 15px;
}
footer a {
    color: white;
    margin: 0 15px;
    font-size: 32px;
    text-decoration: none;
}

footer a:hover {
    color: #c8e6c9;
}
.project {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f1f8f4;
    border-left: 4px solid #4caf50;
}
.profile-img {
    width: 200px;
    height: auto;
    border-radius: 70%;
    display: block;
    margin: 15px auto;
}
.email-link {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}